<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeem.mapper.TFeedsMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.softeem.entity.TFeeds">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="fk_diner_id" property="fkDinerId" />
        <result column="praise_amount" property="praiseAmount" />
        <result column="comment_amount" property="commentAmount" />
        <result column="fk_restaurant_id" property="fkRestaurantId" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="is_valid" property="isValid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, fk_diner_id, praise_amount, comment_amount, fk_restaurant_id, create_date, update_date, is_valid
    </sql>
    <insert id="addFeeds" useGeneratedKeys="true" keyProperty="id" >
        insert into t_feeds values (null,#{content},#{fkDinerId},null,null,null,now(),now(),1)
    </insert>
    <select id="findFeedsById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select * from t_feeds where fk_diner_id =#{followingDinerId}
    </select>

</mapper>
